[submodule "IA-Journey"]
	path = IA-Journey
	url = https://github.com/IAmVictorG/IA-Journey.git
[submodule "Android-project"]
	path = Android-project
	url = https://github.com/IAmVictorG/Android-project.git
[submodule "Pandulum"]
	path = Pandulum
	url = https://github.com/IAmVictorG/Pandulum.git
[submodule "Project-Euler"]
	path = Project-Euler
	url = https://github.com/IAmVictorG/Project-Euler.git
[submodule "Image_to_text"]
	path = Image_to_text
	url = https://github.com/IAmVictorG/Image_to_text.git
[submodule "AirportsRoutesAlgo"]
	path = AirportsRoutesAlgo
	url = https://github.com/IAmVictorG/AirportsRoutesAlgo.git
[submodule "ChessIA-OpenGL"]
	path = ChessIA-OpenGL
	url = https://github.com/IAmVictorG/ChessIA-OpenGL.git
[submodule "ChessAlgoInLessThan1200Words"]
	path = ChessAlgoInLessThan1200Words
	url = https://github.com/IAmVictorG/ChessAlgoInLessThan1200Words.git
[submodule "Tic-Tac-Toe-Website"]
	path = Tic-Tac-Toe-Website
	url = https://github.com/IAmVictorG/Tic-Tac-Toe-Website.git
